* {
  margin: 0;
  padding: 0;
}
<<<<<<< HEAD
=======
body {
  overflow: hidden;
}
>>>>>>> main
@media screen and (min-width: 320px) and (max-width: 500px) {
/*o css da div logo controla o tamanho do botão catalogo!!*/

  .homeBtnDiv {
    width: 13%;
    height: 87%;
    margin: 0 5% 0 5%;
  }
  .tela_usuario {
    display: none;
  }
  .catalogo_img {
    width: 100%;
    height: 85%;
    padding: 5% 0 0 5%;
  }
  .header_cadastro {
    width: 98.75vw;
    height: 10vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: rgba(250, 220, 217, 50%);
    backdrop-filter: blur(16px);
    -webkit-backgrop-filter: blur(16px);
    border: solid black 2px;
  }
  img {
    height: 100%;
    width: 100%;
  }
  a {
    text-decoration: none;
    color: black;
  }

  .mobile_icones {
    display: block;
    width: 65%;
    height: 70%;
    margin: 10% 0 0 20%;
  }
  .opcao {
    width: 35%;
    height: 25%;
  }
  .mobile_menu {
    width: 90vw;
    height: 60vh;
    display: none;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 25vh;
    left: 5vw;
    background-color: rgba(187, 234, 243, 50%);
    border-radius: 2vh;
    border: solid 1px black;
    backdrop-filter: blur(16px);
    -webkit-backgrop-filter: blur(16px);
    row-gap: 5%;
  }
  .menu_icon {
    width: 100%;
    height: 100%;
  }
  .desktop_icones {
    display: none;
  }
  main {
    width: 95vw;
    height: 90vh;
    padding: 35vh 0 0 5%;
    background-image: url("../Img/fundo.png");
    background-repeat: none;
    display: flex;
    flex-flow: column wrap;
  }
  h1 {
    text-align: center;
    font-family: "Piedra", serif;
    color: white;
    font-size: 2.4em;
    padding: 3% 0 0 0;
    -webkit-text-stroke: 1px black;
  }
  h2 {
    text-align: center;
    font-family: "Piedra", serif;
    color: white;
    font-size: 2.8em;
    padding: 3% 0 0 0;
    -webkit-text-stroke: 1px black;
  }
  button {
    display: block;
    width: 55%;
    height: 8%;
    margin: 8% 0 3% 23%;
    border-radius: 10vh;
    background-color: rgba(255, 179, 123, 100%);
    color: white;
    backdrop-filter: blur(16px);
    -webkit-backgrop-filter: blur(16px);
    font-size: 1.5rem;
    font-family: "Piedra", serif;
  }

}
@media screen and (min-width: 501px) and (max-width: 800px) {
/*o css da div logo controla o tamanho do botão catalogo!!*/
  .homeBtnDiv {
    width: 5%;
    height: 70%;
    margin: 0 0 0 2%;
  }
  .tela_usuario {
    display: none;
  }
  .catalogo_img {
    width: 100%;
    height: 100%;
  }
  .header_cadastro {
    width: 99.4vw;
    height: 10vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: rgba(250, 220, 217, 50%);
    backdrop-filter: blur(16px);
    -webkit-backgrop-filter: blur(16px);
    border: solid black 2px;
  }
  img {
    width: 100%;
    height: 100%;
  }

  .mobile_icones {
    display: block;
    width: 80%;
    height: 70%;
    margin: 15% 0 0 0; 
  }

  a {
    text-decoration: none;
    color: black;
  }

  .opcao {
    width: 35%;
    height: 25%;
  }
  .mobile_menu {
    width: 70vw;
    height: 60vh;
    display: none;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 25vh;
    left: 15vw;
    background-color: rgba(187, 234, 243, 50%);
    border-radius: 2vh;
    border: solid 1px black;
    backdrop-filter: blur(16px);
    -webkit-backgrop-filter: blur(16px);
    row-gap: 5%;
  }
  .menu_icon {
    width: 100%;
    height: 100%;
  }
/* o css do nav controla o tamanho do botão menu!!*/
  nav {
    width: 6.25%;
    height: 100%;
  }
  .desktop_icones {
    display: none;
  }
  main {
    width: 95vw;
    height: 90vh;
    padding: 3% 0 0 5%;
    background-image: url("../Img/fundo.png");
    background-repeat: none;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }
  h1 {
    text-align: center;
    font-family: "Piedra", serif;
    color: white;
    font-size: 2.8em;
    padding: 3% 0 0 0;
    -webkit-text-stroke: 1px black;
  }
  
  h2 {
    text-align: center;
    font-family: "Piedra", serif;
    color: white;
    font-size: 2.8em;
    padding: 3% 0 0 0;
    -webkit-text-stroke: 1px black;
  }

  button {
    width: 55%;
    height: 8%;
    margin: 8% 0 3% 23%;
    border-radius: 10vh;
    background-color: rgba(255, 179, 123, 100%);
    color: white;
    backdrop-filter: blur(16px);
    -webkit-backgrop-filter: blur(16px);
    font-size: 1.5rem;
    font-family: "Piedra", serif;
  }
}
@media screen and (min-width: 800px) and (max-width: 1024px) {
  .catalogo_img {
    width: 100%;
    height: 85%;
    margin: 4% 0 0 15%;
  }
  .homeBtnDiv {
    display: none;
  }
  .tela_usuario {
    display: none;
  }
  .header_cadastro {
    width: 99.69vw;
    background-color: rgba(250, 220, 217, 50%);
    backdrop-filter: blur(16px);
    -webkit-backgrop-filter: blur(16px);
    border: solid black 2px;
  }

  img {
    width: 100%;
    height: 100%;
  }
  
  .mobile_icones {
    display: none;
    width: 100%;
    height: 85%;
    margin: 15% 0 0 15%;
  }
  .mobile_menu {
    display: none;
    position: fixed;
    top: 25vh;
    left: 15vw;
    background-color: rgba(250, 220, 217, 50%);
    backdrop-filter: blur(16px);
    -webkit-backgrop-filter: blur(16px);
  }

  
  a {
    text-decoration: none;
    color: black;
  }

  .menu_icon {
    width: 100%;
    height: 100%;
  }
  .desktop_icones {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
  }
  main {
    width: 95vw;
    height: 100vh;
    padding: 3% 0 0 5%;
    background-image: url("../Img/fundo.png");
    background-repeat: none;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }
  h1 {
    text-align: center;
    font-family: "Piedra", serif;
    color: white;
    font-size: 5em;
    padding: 3% 0 0 0;
    -webkit-text-stroke: 1px black;
  }
  h2 {
    text-align: center;
    font-family: "Piedra", serif;
    color: white;
    font-size: 2.8em;
    padding: 3% 0 0 0;
    -webkit-text-stroke: 1px black;
  }
  button {
    width: 35%;
    height: 8%;
    margin: 8% 0 3% 33%;
    border-radius: 10vh;
    background-color: rgba(255, 179, 123, 100%);
    color: white;
    backdrop-filter: blur(16px);
    -webkit-backgrop-filter: blur(16px);
    font-size: 2.4rem;
    font-family: "Piedra", serif;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
<<<<<<< HEAD
=======
  body {
    overflow: none;
  }

>>>>>>> main
  .catalogo_img {
    width: 100%;
    height: 85%;
    margin: 4% 0 0 15%;
  }
  .homeBtnDiv {
    display: none;
  }
  .tela_usuario {
    display: none;
  }
  .header_cadastro {
    width: auto;
    background-color: rgba(250, 220, 217, 50%);
    backdrop-filter: blur(16px);
    -webkit-backgrop-filter: blur(16px);
    border: solid black 2px;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .mobile_icones {
    display: none;
    position: fixed;
    top: 25vh;
    left: 15vw;
    background-color: rgba(250, 220, 217, 50%);
    backdrop-filter: blur(16px);
    -webkit-backgrop-filter: blur(16px);
  }
  .mobile_menu {
    display: none;
  }

  
  a {
    text-decoration: none;
    color: black;
  }

  .desktop_icones {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
  }
    .login_img {
      width: 100%;
      height: 85%;
      margin: 4% 15% 0 0;
    }
  main {
    width: auto;
    height: 100vh;
    background-image: url("../Img/fundo.png");
    background-repeat: none;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }
  h1 {
    text-align: center;
    font-family: "Piedra", serif;
    color: white;
    font-size: 5em;
    padding: 3% 0 0 0;
    -webkit-text-stroke: 1px black;
  }
  h2 {
    text-align: center;
    font-family: "Piedra", serif;
    color: white;
    font-size: 2.8em;
    padding: 3% 0 0 0;
    -webkit-text-stroke: 1px black;
  }
  button {
    width: 35%;
    height: 8%;
    margin: 8% 0 3% 33%;
    border-radius: 10vh;
    background-color: rgba(255, 179, 123, 100%);
    color: white;
    backdrop-filter: blur(16px);
    -webkit-backgrop-filter: blur(16px);
    font-size: 2.4rem;
    font-family: "Piedra", serif;
  }
}
@media screen and (min-width:1441px) and (max-width: 1499px) {
<<<<<<< HEAD
=======
  body {
    overflow-y: hidden;
  }

>>>>>>> main
  .catalogo_img {
    width: 100%;
    height: 85%;
    margin: 4% 0 0 15%;
  }
  .tela_usuario {
    display: none;
  }
  .homeBtnDiv {
    display: none;
  }
  .header_cadastro {
    width: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: rgba(250, 220, 217, 50%);
    backdrop-filter: blur(16px);
    -webkit-backgrop-filter: blur(16px);
    border: solid black 2px;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .mobile_icones {
    display: none;
  }
  .mobile_menu {
    display: none;
    position: fixed;
    top: 25vh;
    left: 15vw;
    background-color: rgba(250, 220, 217, 50%);
    backdrop-filter: blur(16px);
    -webkit-backgrop-filter: blur(16px);
  }

  
  a {
    text-decoration: none;
    color: black;
  }

  .desktop_icones {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 50vw;
    height: auto;
  }
    .login_img {
      width: 100%;
      height: 85%;
      margin: 4% 15% 0 0;
    }
  main {
    width: auto;
    height: 100vh;
    background-image: url("../Img/fundo.png");
    background-repeat: none;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
<<<<<<< HEAD
=======
    
>>>>>>> main
  }
  h1 {
    text-align: center;
    font-family: "Piedra", serif;
    color: white;
    font-size: 5em;
    padding: 3% 0 0 0;
    -webkit-text-stroke: 1px black;
  }
  h2 {
    text-align: center;
    font-family: "Piedra", serif;
    color: white;
    font-size: 2.8em;
    padding: 3% 0 0 0;
    -webkit-text-stroke: 1px black;
  }
  button {
    width: 35%;
    height: 8%;
    margin: 8% 0 3% 33%;
    border-radius: 10vh;
    background-color: rgba(255, 179, 123, 100%);
    color: white;
    backdrop-filter: blur(16px);
    -webkit-backgrop-filter: blur(16px);
    font-size: 2.4rem;
    font-family: "Piedra", serif;
  }
}
@media screen and (min-width:1500px) {
  .catalogo_img {
    width: 100%;
    height: 85%;
    margin: 4% 0 0 15%;
  }
  .homeBtnDiv {
    display: none;
  }
  .tela_usuario {
    display: none;
  }
  .header_cadastro {
    width: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: rgba(250, 220, 217, 50%);
    backdrop-filter: blur(16px);
    -webkit-backgrop-filter: blur(16px);
    border: solid black 2px;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .mobile_icones {
    display: none;
  }
  .mobile_menu {
    display: none;
    position: fixed;
    top: 25vh;
    left: 15vw;
    background-color: rgba(250, 220, 217, 50%);
    backdrop-filter: blur(16px);
    -webkit-backgrop-filter: blur(16px);
  }

  
  a {
    text-decoration: none;
    color: black;
  }

  .desktop_icones {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 50vw;
    height: auto;
  }
    .login_img {
      width: 100%;
      height: 85%;
      margin: 4% 15% 0 0;
    }
  main {
    width: auto;
    height: 100vh;
    background-image: url("../Img/fundo.png");
    background-repeat: none;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }
  h1 {
    text-align: center;
    font-family: "Piedra", serif;
    color: white;
    font-size: 5em;
    padding: 3% 0 0 0;
    -webkit-text-stroke: 1px black;
  }
  h2 {
    text-align: center;
    font-family: "Piedra", serif;
    color: white;
    font-size: 2.8em;
    padding: 3% 0 0 0;
    -webkit-text-stroke: 1px black;
  }
  button {
    width: 20%;
    height: 8%;
    margin: 8% 0 3% 39%;
    border-radius: 10vh;
    background-color: rgba(255, 179, 123, 100%);
    color: white;
    backdrop-filter: blur(16px);
    -webkit-backgrop-filter: blur(16px);
    font-size: 2.4rem;
    font-family: "Piedra", serif;
  }
}
