body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  .container {
    display: grid;
    grid-template-areas: 
    'palavra . letras';
    grid-template-columns: 2fr 0.5fr 4fr;
    grid-template-rows: auto;
    height: 100vh;
  }
  
  .game {
    grid-area: palavra;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .word-container {
    margin-bottom: 20px;
    padding: 80% 0 0 0;
    font-size: 2.5rem;
  }
  
  .alphabet {
    grid-area: letras;
    display: flex;
    flex-flow: column nowrap;
    
  }
  
  .alphabet li {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
  }
  
  .alphabet li img {
    width: 12vw; /* ajuste o tamanho conforme necessário */
    height: 12vh; /* ajuste o tamanho conforme necessário */
  }
  
  .alphabet li:hover img {
    opacity: 0.7;
  }
