@media screen and (min-width: 320px) and (max-width: 500px) {
    * {
        margin: 0;
        padding: 0;
    }

    main {
        width: 100vw;
        height: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        background-image: url("../Img/fundo_ceu.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .alfabeto {
        width: 80vw;
        height: 100%;
        margin: 5% 0 0 0;
        display: grid;
        grid-template-areas: 
            "a b c d"
            "abelha bola cachorro dado"
            "e f g h"
            "elefante faca gato hipopotamo"
            "i j k l"
            "indio jabuti koala limao"
            "m n o p"
            "maca navio onibus pato"
            "q r s t"
            "queijo rato sapo trem"
            "u v w x"
            "uva vaca wifi xicara"
            "y z . ."
            "youtube zebra . .";
        grid-template-columns: repeat(4, auto);
    }   
        .letra-a {
            grid-area: a;
        }
        .abelha {
            grid-area: abelha;
        }
        .letra-b {
            grid-area: b;
        }
        .bola {
            grid-area: bola;
        }
        .letra-c {
            grid-area: c;
        }
        .cachorro {
            grid-area: cachorro;
        }
        .letra-d {
            grid-area: d;
        }
        .dado {
            grid-area: dado;
        }
        .letra-e {
            grid-area: e;
        }
        .elefante {
            grid-area: elefante;
        }
        .letra-f {
            grid-area: f;
        }
        .faca {
            grid-area: faca;
        }
        .letra-g {
            grid-area: g;
        }
        .gato {
            grid-area: gato;
        }
        .letra-h {
            grid-area: h;
        }
        .hipopotamo {
            grid-area: hipopotamo;
        }
        .letra-i {
            grid-area: i;
        }
        .indio {
            grid-area: indio;
        }
        .letra-j {
            grid-area: j;
        }
        .jabuti {
            grid-area: jabuti;
        }
        .letra-k {
            grid-area: k;
        }
        .koala {
            grid-area: koala;
        }
        .letra-l {
            grid-area: l;
        }
        .limao {
            grid-area: limao;
        }
        .letra-m {
            grid-area: m;
        }
        .maca {
            grid-area: maca;
        }
        .letra-n {
            grid-area: n;
        }
        .navio {
            grid-area: navio;
        }
        .letra-o {
            grid-area: o;
        }
        .onibus {
            grid-area: onibus;
        }
        .letra-p {
            grid-area: p;
        }
        .pato {
            grid-area: pato;
        }
        .letra-q {
            grid-area: q;
        }
        .queijo {
            grid-area: queijo;
        }
        .letra-r {
            grid-area: r;
        }
        .rato {
            grid-area: rato;
        }
        .letra-s {
            grid-area: s;
        }
        .sapo {
            grid-area: sapo;
        }
        .letra-t {
            grid-area: t;
        }
        .trem {
            grid-area: trem;
        }
        .letra-u {
            grid-area: u;
        }
        .uva {
            grid-area: uva;
        }
        .letra-v {
            grid-area: v;
        }
        .vaca {
            grid-area: vaca;
        }
        .letra-w {
            grid-area: w;
        }
        .wifi {
            grid-area: wifi;
        }
        .letra-x {
            grid-area: x;
        }
        .xicara {
            grid-area: xicara;
        }
        .letra-y {
            grid-area: y;
        }
        .youtube {
            grid-area: youtube;
        }
        .letra-z {
            grid-area: z;
        }
        .zebra {
            grid-area: zebra;
        }


    img {
        width: 100%;
        height: 100%;
    }

    .ilust {
        width: 70%;
        height: 70%;
        padding: 20%;
    }
}