
body {
    background: #58cc02;
    font-family: Nunito;
    text-align: center;
}

#wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#wrapper div, #wrapper ul {
    width: 50%;
    max-width: 300px;
}

h3{
    color: white;
    font-size: 1.8em;
}


ul {
    padding: 0px;
}

#imagem {
    width: 35%;
    height: 50vh;
    background-size: 100%;
}

.alternativa {
    list-style-type: none;
    margin-bottom: 10px;
    padding: 10px;
    background: #F28080;
    background-repeat: no-repeat;
    border: solid #DD0000 2px;
    border-radius: 1cap;
    font-size: 1.4em;
}

.alternativa:hover {
    cursor: pointer;
    opacity: 0.8;
}

#result {
    font-weight: bold;
}

#pontos, #result {
    color: white;
}






