<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>DeyAulas - cadastro</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../Public/Cadastro/style.css" rel="stylesheet">
  </head>
  <body>
    <header class="header_cadastro">
      <div class="div_logo">
        <a class="link_logo" href="../../index.html"><img class="logo_img" src="../../Public/Img/logo.png"></a>
      </div>
      <nav>
        <div class="mobile_icones">
          <img class="menu_img" src="../../Public/Img/icone_menu_mobile.png">
        </div>
        <div class="desktop_icones">
          <a class="link_catalogo" href="../Cadastro"><img class="catalogo_img" src="../../Public/Img/icone_catalogo.png"></a>
          <a class="link_login" href="../Login"><img  class="login_img" src="../../Public/Img/icone_login.png"></a>
        </div>
      </nav>
    </header>
    <main>
      <div class="div_form">
        <h2>Cadastro</h2>
        <form action="#" method="post">
          <label>E-mail:</label>
          <input type="email">
          <label>Senha:</label>
          <input type="password">
          <button>Cadastrar</button>
        </form>
      </div>
    </main> 
  </body>
</html>
